h1.title {
  background-color: transparent;
  color: #00FFFF;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  overflow-x: hidden;
  margin: 0 -0.4em;
}